langchain
langchain_groq
langchain_core
langchain_community
langchain-text-splitters
langchain-openai
openai
python-dotenv
ipykernel
pypdf
chromadb
faiss-cpu
beautifulsoup4
pandas
defusedxml
scikit-learn
wikipedia
langgraph
matplotlib
xmltodict